@import "tailwindcss";



html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
}

.react-flow-class{
  width: 80%;
  height: 100vw;
}

.border-left-class{
  border-left: 1px solid black;
}

.new-node{
  border: 1px solid black;
  border-radius: 3px;
  width: 70px;
  height: 65px;
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 10px;
}

.edge-label-renderer__custom-edge {
  position: absolute;
  background-color: #ffcc00;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  z-index: 9999999;
}
 
.react-flow__edge-textbg {
  fill: #f7f9fb;
  z-index: 9999999;
}