@import "tailwindcss";

html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

#app {
  width: 100vw;
  height: 100vh;
}

.react-flow-class {
  width: 80%;
}

.border-left-class {
  border-left: 1px solid transparent;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
  z-index: 999;
  position: relative;
}

.new-node {
  border: 1px solid #d9d8d7;
  border-radius: 3px;
  width: 80px;
  height: 95px;
  text-align: center;
  font-size: 12px;
  /* margin-top: 10px; */
}

.edge-label-renderer__custom-edge {
  position: absolute;
  background-color: #ffcc00;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  z-index: 999;
}

.react-flow__edge-textbg {
  fill: #f7f9fb;
  z-index: 999;
}

.full-horizontal-line {
  width: 125%;
  margin-left: -40px;
  color: #c4c4c2;
}

.full-horizontal-line-2 {
  width: 125%;
  margin-left: -40px;
  color: #2d7595;
}

.navbar-shadow {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Optional for better visibility */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); /* Increase shadow size */
  z-index: 9999;
  /* position: relative; */
}

:where(.css-dev-only-do-not-override-xex5fb).ant-modal {
  top: 40% !important;
}

:where(.css-dev-only-do-not-override-xex5fb).ant-modal .ant-modal-footer {
  display: none;
}


/* hides edges */

/* g.react-flow__edge.react-flow__edge-default.nopan.selectable{
  display: none !important;
} */